name: Femdom Auto Reposter

on:
  
  workflow_dispatch: {}

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install atproto

      - name: Run femdom autoposter
        env:
          BSKY_USERNAME_FD: ${{ secrets.BSKY_USERNAME_FD }}
          BSKY_PASSWORD_FD: ${{ secrets.BSKY_PASSWORD_FD }}
        run: |
          python autoposter_FD.py
